---
import '../styles/styles.css';
import Icon from '../components/Icon.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jessica Steslow</title>

  <!-- font awesome cdn link -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' crossorigin='anonymous'/>

  <!-- google fonts links -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <script is:inline>
    // This code is inlined in the head to make dark mode instant & blocking.
    const getThemePreference = () => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };
    const isDark = getThemePreference() === 'dark';
    document.documentElement.classList[isDark ? 'add' : 'remove']('theme-dark');
  
    if (typeof localStorage !== 'undefined') {
      // Watch the document element and persist user preference when it changes.
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains('theme-dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
      });
      observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
    }
  </script>


</head>
<body>

  <!-- navbar section starts -->

  <div id="sidebar" class="dotgrid">
    <div class="user boxcard">
      <h3 class="name">Jessica <span class="accent">Steslow</span></h3>
      <p class="post">路 maps and data 路</p>
      <p class="post">路 green engineering 路</p>
      <img src="../../assets/lightbulb.svg" alt="lightbulb with plants"/>
    </div>

    <nav class="navbar boxcard">
      <ul>
        <li><a href="#">about</a></li>
        <li><a href="#">resume</a></li>
        <li><a href="#">portfolio</a></li>
      </ul>
      <div class="theme-toggle">
				<ThemeToggle />
			</div>
    </nav>

  </div>

  <!-- sidebar section ends -->

  <div id="page">

  <!-- home section starts -->
  
  <section class="home" id="home">

    <h3>Hi there !</h3>
    <h1>I'm <span class="accent">Jessica Steslow</span></h1>
    <p>I'm a water-focused engineer with a love of digital cartography --> GIS (Geographic Information Systems). This is my personal website and portfolio. Feel free to take a look around! </p>
    <p>Find me on:  
      <i class="fas fa-user"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-user"></i>
    </p>
    <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>
  </section>
  
  <!-- home section ends -->

  <!-- about section starts -->

  <section id="about" class="about">

    <h2>About</h2>
    <p>I have an intersectional professional background but I like to think it's brought together by a strong interest in math and wanting to work on sustainability. </p>

    <div class="about-container">
      <div class="about-img">
        <img src="../../assets/steslow_center.jpg" class="img" alt="">
      </div>
      <div class="about-summary">
        <h3>Civil Engineer &amp; GIS Analyst.</h3>
        <p class="fst-italic">
          I started as a civil engineer working on water resources and I found I loved worked on GIS. I am working on a master's degree in GIS to hone these skills.
        </p>
        <div class="about-lists">
          <ul>
            <li><i class="fas fa-chevron-right"></i> <strong>MS:</strong> <span>GIS Online Development</span></li>
            <li><i class="fas fa-chevron-right"></i> <strong>BS:</strong> <span>Civil Engineering</span></li>
          </ul>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <strong>City:</strong> <span>Tucson, AZ, USA</span></li>
            <li><i class="fas fa-chevron-right"></i> <strong>Email:</strong> <span>steslowj@gmail.com</span></li>
          </ul>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <strong>Certified PE:</strong> <span>Civil, AZ No. 75715</span></li>
          </ul>
        </div>
      </div>
      <div class="about-post">
        <p>
          Outside of work and school, I enjoy (indoor!) rock climbing, cycling, hiking, eating good food, and relaxing with friends for board games.
        </p>
      </div>
    </div>    
    <div class="about-row">
      <div class="counter">

        <div class="box">
          <span>2+</span>
          <h3>years of experience</h3>
        </div>

        <div class="box">
          <span>400+</span>
          <h3>projects completed</h3>
        </div>

        <div class="box">
          <span>100+</span>
          <h3>happy clients</h3>
        </div>

        <div class="box">
          <span>6</span>
          <h3>awards won</h3>
        </div>
      </div>
    </div>




  </section>
  <!-- End About Section -->


  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Alex Smith</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Fine Arts &amp; Graphic Design</h4>
            <h5>2015 - 2016</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
            <h5>2010 - 2014</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
    
  <!-- End Resume Section -->


  <!-- portfolio section starts -->

  <section class="portfolio" id="portfolio">

    <h2 class="heading"> my <span>portfolio</span></h2>

    <div class="box-container">
      
      <div class="box boxcard">
        <img src="../../assets/stock-1.jpg" />
      </div>

      <div class="box boxcard">
        <img src="../../assets/stock-2.jpg" />
      </div>

      <div class="box boxcard">
        <img src="../../assets/stock-3.jpg" />
      </div>

      <div class="box boxcard">
        <img src="../../assets/stock-4.jpg" />
      </div>

      <div class="box boxcard">
        <img src="../../assets/stock-1.jpg" />
      </div>

      <div class="box boxcard">
        <img src="../../assets/stock-2.jpg" />
      </div>

    </div>

  </section>

  
  <!-- portfolio section ends -->


  <!-- scroll top button -->

  <a href="#home" class="top"><button class="btn"><i class="fas fa-coffee"></i>scroll top</button></a>

  </div> <!-- end of page div -->

  <!-- jquery cdn link -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous'></script>

  <!-- custom js file link -->
  <script src="../js/main.js" ></script>

  
</body>
</html>