---

---

<div id="page">

  <section class="hero" id="hero">

    <h3>Hi there !</h3>
    <h1>I'm <span class="accent">Jessica Steslow</span></h1>
    <p>I'm a water-focused engineer with a love of digital cartography --> GIS (Geographic Information Systems). This is my personal website and portfolio. Please take a look around! </p>
    <p>Find me on:  
      <i class="fas fa-user"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-user"></i>
    </p>
    <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>
  </section>
  