---
import ThemeToggle from './ThemeToggle.astro';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Work', href: '/work/' },
	{ label: 'About', href: '/about/' },
];

---
<div id="sidebar">
  <div class="user boxcard">
    <h3 class="name">Jessica <span class="accent">Steslow</span></h3>
    <p class="post">路 maps and data 路</p>
    <p class="post">路 green engineering 路</p>
    <img src="../../assets/lightbulb.svg" alt="a lightbulb with vines inside the glass"/>
  </div>

  <nav class="navbar boxcard">
    <ul>
      <li><a href="#about">about</a></li>
      <li><a href="#resume">resume</a></li>
      <li><a href="#portfolio">portfolio</a></li>
    </ul>
    <div class="theme-toggle">
      <ThemeToggle />
    </div>
  </nav>

</div>


